# Required environment variables
API_ID=25390557
API_HASH=18077e74fe016c2ed03a36812c083df1
TOKEN=8084268055:AAFtXPAqPeD9CjInnrs12yry-4S0nlZKyBg
MONGO_DB_URI=mongodb+srv://Likhith:Likhithbots@likhith.jm3wayg.mongodb.net/?retryWrites=true&w=majority&appName=likhith
STRING_SESSION=BQGDbd0Apjxj7cWODBLOTrpPgLGmB25UQnl5R_fz6cJTKY82g4UAAMGhmqt2qYEVKzdWtEinFNafhioZA6AmwdS6UuxgVsTU1EZrWRPbach2AWOjZQrVZQr0NSexfsI55ogZ3q1xvOD1UTmRs-6ZtxHlq8lymE4s6yGCGuVxYBdtWmcnay9Haf2akSTLYA8s92AiyFJ6yhtNVID05heIvars68rKuYLil9tta2fEDN9-EGZhd6o8aiiKllcBaxIDmpvLlhhvxRpFNNCzWkvVoJSaS6DPXnB8_O5Aepce-nvIEE0Ap0p_FPlw6YNodAN9coREd65SoL0I2HpoImH8cpzpI2P9EwAAAAIAekYMAA
OWNER_ID=7946875913

# Optional environment variables
FALLEN_API_KEY=
FALLEN_API_URL=
LOGGER_ID=
DURATION_LIMIT=4200
QUEUE_LIMIT=7
START_IMG_URL=https://raw.githubusercontent.com/Vivekkumar-IN/assets/master/images.png
SUPPORT_CHAT=https://t.me/TheTeamVk
SUPPORT_CHANNEL=https://t.me/TheTeamVivek
COOKIES_LINK=
SET_CMDS=false
MAX_AUTH_USERS=25
